@import "tailwindcss";

/* @font-face {
  font-family: 'RunescapeSmall';
  src: url('assets/fonts/runescape_small.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RunescapeChat';
  src: url('assets/fonts/RuneScape-Chat-07.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RunescapeLarge';
  src: url('assets/fonts/runescape_large.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

:root {
  --osrs-yellow: #FFCF3F;
  --osrs-gold: #E6A519;
  --osrs-brown: #694D23;
  --osrs-dark-brown: #382D1A;
  --osrs-black: #0F0F0F;
  --osrs-green: #00FF00;
  --osrs-red: #FF0000;
  --osrs-blue: #0088FF;
  --osrs-chat: #00FFFF;
  --osrs-background: #2E2C29;
  --osrs-border: #474745;
  --osrs-panel: #46433A;
}

body {
  /* font-family: 'RunescapeChat'; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Serif';
}

.aspect-square:hover {
  /* outlineWidth: "2px",
                    outlineColor: "#000000" */
  /* outline: 2px solid var(--osrs-border); */
  /* outline-offset: 2px; */
}

.or {
  font-weight: bold;
  text-decoration: underline;
  color: white;
  font-style: italic;
  list-style-type: none;
}

.tile-icon {
  object-fit: contain;
  max-width: 64px;
  max-height: 64px;
  pointer-events: none;
}